@model task425_7_2024.Models.Table_1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Table_1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productdescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productdescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
